.lock-waf_darwin_build
LICENSE
build/
doc.html
resources/
src/js/clock/
src/js/lib/
src/js/loader.js
src/js/main.js
src/js/platform/
src/js/settings/
src/js/simply/
src/js/smartpackage/
src/js/timeline/
src/js/ui/
src/js/vendor/
src/js/wakeup/
src/main.c
src/simply/
src/util/
venv/
waftools/
wscript
